server:
  port: 8080

spring:
  application:
    name: Gateway
  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
        - AddResponseHeader=X-Frame-Options, DENY
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/user/**
          filters:
            - name: CircuitBreaker
              args:
                name: userCB
                fallbackUri: forward:/fallback

        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/product/**
          filters:
            - name: CircuitBreaker
              args:
                name: productCB
                fallbackUri: forward:/fallback

        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/cart/**
          filters:
            - name: CircuitBreaker
              args:
                name: cartCB
                fallbackUri: forward:/fallback
